body {
	margin: 0px;
	font-family: Verdana;
	background-color: #D9D9D9;
}

#canvas {
	border: 2px solid #757575;
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

#gameOverProgDiv {
	position: absolute;
	height: 15px;
	border: 2px solid #757575;
	background-color: white;
	border-radius: 10px;
}

#gameOverProg {
	background-color: #3272BA;
	width: 0%;
	height: 100%;
}

#gameOverMessage {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #FF0000;
	text-shadow: 3px 3px #757575;
}

.stats {
	position:absolute;
	padding: 10px;
	background-color: #3272BA;
	color: white;
	border-radius: 10px;
	margin-top: 5px;
}

.divBlock {
	position: absolute;
	width: 30px;
	height: 35px;
	border-radius: 10px;
	background-color: #3272BA;
	color: white;
}

.divContent {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	border: 0px solid white;
	margin-left: -1px;
	margin-top: -1px;
}


