html, body {
	margin: 0px;
	font-family: Verdana;
}

#canvas {
	border: 1px solid black;
	position: absolute;
	top: 50px;
	left: 50px;
}

#updates {
	left: 300px;
}

#numDivs {
	left: 550px;
}

.stats {
	position:absolute;
	border-left: 5px solid #0F73FF;
	border-bottom: 2px solid #0F73FF;
	padding: 5px;
}

.divBlock {
	position: absolute;
	width: 30px;
	height: 35px;
	border-radius: 10px;
	background-color: #AD4040;
	color: white;
}

.divContent {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	border: 0px solid white;
	margin-left: -1px;
	margin-top: -1px;
}


