body {
	margin: 0px;
	font-family: Verdana;
	background-color: #D9D9D9;
}

#canvas {
	border: 2px solid #757575;
	position: absolute;
	border-radius: 10px;
}

#gameOverProgDiv {
	position: absolute;
	height: 15px;
	background-color: white;
	border: 2px solid #757575;
	border-radius: 10px;
}

#gameOverProg {
	background-color: #3272BA;
	border-radius: 10px;
	width: 0%;
	height: 100%;
}

#gameOverMessage {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #FF0000;
	text-shadow: 0 0 20px #FF0000;
}

#titleHeader {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	top: 20px;
}

#instructions {
  margin-top: 10px;
  font-size: 16px; 
  text-align: center;
}

#highScoresDiv {
	position: absolute;
	border: 1px solid black;
	width: 275px;
	border-radius: 10px;
  font-size: 1.2em;
  background-color: #F5F5F5;
  padding-left: 10px;
}

#startMessage:hover {
	cursor: pointer;
	cursor: hand;
}

.stats {
	position:absolute;
	padding: 10px;
	background-color: #3272BA;
	color: white;
	border-radius: 10px;
	margin-top: 5px;
  font-size: 1.2em;
}

.divBlock {
	position: absolute;
	width: 30px;
	height: 35px;
	border-radius: 10px;
	background-color: #3272BA;
	color: white;
}

.divContent {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	border: 0px solid white;
	margin-left: -1px;
	margin-top: -1px;
  font-size:1.1em;
}

.score {
  float: right;
  padding-right: 20px;
}

.center {
	text-align: center;
}

hr {
	width: 75%;
	border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

li {
	margin-top: 10px;
}


