html, body {
	margin: 0px;
	font-family: Verdana;
}

#canvas {
	border: 2px solid #757575;
	position: absolute;
}

#gameOverProgDiv {
	position: absolute;
	height: 15px;
	border: 1px solid #757575;
}

#gameOverProg {
	background-color: #AD4040;
	width: 50%;
	height: 100%;
}

#gameOverMessage {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #FF3333;
	text-shadow: 3px 3px #5C5C5C;
}

.stats {
	position:absolute;
	border-left: 5px solid #0F73FF;
	border-bottom: 2px solid #0F73FF;
	padding: 5px;
}

.divBlock {
	position: absolute;
	width: 30px;
	height: 35px;
	border-radius: 10px;
	background-color: #AD4040;
	color: white;
}

.divContent {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	border: 0px solid white;
	margin-left: -1px;
	margin-top: -1px;
}


